{{!< default}}
{{!-- The tag above means: insert everythin in this file
into the {body} of the default.hbs template --}}

{{!-- Main --}}
<main id="main">


    <section class="post">


    <!-- <center><H3>தோற்றம்</H3></center> -->
    {{#get "posts" limit="all" filter="tag:hash-main"}}
            {{#foreach posts}}
               <header class="major">
                    <h1>{{title}}</h1>
                </header>
                <div class="content">
                    {{content}}
                </div>
            {{/foreach}}
    {{/get}}
    <footer class="post-footer">

            <div class="authors">
                {{#foreach authors}}
                <a class="author-box" href="{{url}}">
                    {{#if profile_image}}
                    <img class="author-profile-image" src="{{profile_image}}" alt="{{name}}" />
                    {{/if}}
                    <section class="author-box-content">
                        <div class="author-box-label">Author</div>
                        <h5 class="author-box-name">{{name}}</h5>
                        {{#if bio}}
                        <p>{{bio}}</p>
                        {{else}}
                        <p>Read more posts by this author.</p>
                        {{/if}}
                    </section>
                </a>
                {{/foreach}}
            </div>

        </footer>
   <!--  <center><BLOCKQUOTE>"கல் தோன்றி மண் தோன்றாக் காலத்திலே வாளோடு முன் தோன்றிய மூத்த குடி"</BLOCKQUOTE></center>
    <p>தமிழ்க்குடி. என்று பிறந்தது என்றுக் கணக்கிட இயலா முன்பு பிறந்தது தமிழ் மொழி. நாவலந்தீவில் பிறந்து மனித நாகரீகத்தை பறைசாற்றி இன்று உலகின் பல இடங்கள் பரவி இன்னும் உயிர்ப்போடு வாழ்கிறாள் தமிழன்னை. செந்தமிழ், பைந்தமிழ்,தண்டமிழ், நற்றமிழ், இற்றமிழ், வண்டமிழ், தன்றமிழ், முத்தமிழ், தெய்வத்தமிழ், அன்னைத்தமிழ், கன்னித்தமிழ், அருந்தமிழ் என்று பல பெருமைமிகு பெயர்களைப் பெற்றது தமிழ்.

         முச்சங்கம் வைத்து வளர்த்த தமிழ் வழங்கிய நூல்கள் ஏராளம். அதில் பல ஆழிப்பேரலையில் அமிழ்ந்துபோனது துயரம். எனினும் குன்றா வளத்துடன் குறைவில்லாப் பெருமையுடன் இன்றும் உலகின் மூத்த மொழியாய், மொழிகளின் தாயாய் நிமிர்ந்து நிற்கிறாள் தமிழன்னை. தொல்காப்பியம், பத்துப்பாட்டு, எட்டுத்தொகை, பதினெண்கீழ்க்கணக்கு, பக்தி இலக்கியம், ஐம்பெரும் காப்பியங்கள், ஐஞ்சிறு காப்பியங்கள், சிற்றிலக்கியங்கள், இலக்கணங்கள் என்று எண்ணிலடங்கா நூல்கள் தமிழில் உண்டு.

     "உலகப்பொதுமறை" திருக்குறளில் இல்லாக் கருத்தொன்றும் உண்டோ?.
     "யாதும் ஊரே யாவரும் கேளிர்" என்பதைத் தாண்டிய சமத்துவம் உலகினில் உண்டோ?. தோல்வியறியா அரசேந்திர சோழனின் வீரத்தினும் பெரிது உண்டோ?. முல்லைக்குத் தேர் ஈந்த பாரியினும் ஈகையர் இவ்வுலகில் உண்டோ?. தஞ்சை பெருவுடையார் கோயிலினும் சிறந்தக் கட்டிடக்கலை இப்பாரினில் உண்டோ? கம்பனினும் விஞ்சிய கவிநயம் உண்டோ? கண்ணகியை விஞ்சிய கற்புக்கரசி உண்டோ?

மார்பில் பாய்ந்த வேல் முதுகைத் தொட்டதால் புறமுதுகிட்டோம் என்று எண்ணி வடக்கிருந்து உயிர்நீத்த சேரமான் பெருஞ்சேரலாதன் மாண்பை காண்பீர். கோயிலில் இருக்கும் கடவுளை விட பசியால் வாடும் ஏழைக்கு உதவுவீர் என்ற திருமூலரைக் காண்பீர். தான் பசியால் வாடினும் வந்தவரை குறைவில்லா வயிற்றுடன் அனுப்பும் விருந்தோம்பல் காண்பீர். தலைவனை எண்ணி நோயுற்ற தலைவியின் காதலைக் காண்பீர்.

       என்ன இல்லை தமிழில்? ஒழுக்கம், பொருளாதாரம், சமத்துவம், வீரம், காதல், விளையாட்டு எல்லாம் தந்ததே எங்கள் தமிழன்னை. அதை உம்மிடம் சேர்க்கிறோம். வாசித்து பயன் பெறுவீர்
</p> -->

</main>
